/* reset estilos */
* {
    margin: 0;
    padding: 0;
}

html {

    font-size: 62.5%;
}

#logo {
    width: 70px;
    height: 70px;
}

.banner {
    background-image: url('https://images4.alphacoders.com/212/212076.jpg');
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
    height: 30vh; /* Ajusta la altura del banner al 60% del viewport */
    position: relative; /* Necesario para posicionar el contenido del banner */
}

/* Aumentar el tamaño de la fuente del navbar */
.navbar .navbar-nav .nav-link {
    margin-left: 200px;
    font-size: 1.8rem;
    /* Tamaño de fuente más grande */
}

/* Estilo para el nombre del logo */
.navbar-brand {
    font-size: 1.5rem;
    /* Tamaño de fuente más grande */
}

/* Ajustes para los íconos del menú */
.menu-icon i {
    font-size: 1.5rem;
    /* Tamaño más grande para el icono de menú */
}


/* Carrusel de Cards */
.scrolling-container {
    overflow-x: auto; /* Habilita el scroll horizontal */
    white-space: nowrap; /* Hace que los elementos estén en una sola línea */
    padding: 20px 0;
}

.row.flex-nowrap {
    display: flex; /* Usa flexbox para alinear las cards horizontalmente */
    gap: 10px; /* Espacio entre las cards */
}

.card {
    transition: transform 0.3s ease; /* Animación para el hover */
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la card al pasar el ratón */
}